*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
}

body{
    border:2px solid red;
    display: flex;
    flex-direction: column;
}

header{
    border:2px solid black;
    text-align: center;
}
main{

  flex:1;
}

.links,.searchBar{
    padding:10px;
}


.loader{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.loading-spinner{
    width:70px;
    height:70px;
    border:10px solid #f3f3f3;
    border-top:10px solid red;
    border-radius: 50%;
    animation:spin 0.8s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.card{
    width:150px;
    height:150px;
    border:1px solid black;
    display:inline-block;
    border-radius: 5px;
    padding:10px;
    overflow: auto;
    margin:auto;
    position: relative;
}

section{
    height:100%;
}
#homeSection{
    display: grid;
    grid-row-gap:5px;
}