@import './variables';
@import './reset';
@import './functions';




.btn{
    background-color: getColor(primary);
    color:#fff;
    padding:10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    &--secondary{
        background-color: map-get($colors,"secondary");
    }
    &--danger{
        background-color: map-get($colors,"danger");
    }
    &.red{
        color:red;
    }
}

.gradient-bg{
    height:200px;
    width:200px;
    background: gradient(#7474BF,#348ac7);
}

.header{
    height:300px;
    border:1px solid black;
    background: bgImage('header-bg') no-repeat center;
    // background-repeat: no-repeat;
    // background-position: center;
}