@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterWidthDirection($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme-colors($light-theme:true){
    @if $light-theme {
        background-color: $light-background;
    }@else{
        background-color: $dark-background;
        color:$light-text;
    }
}

@mixin mobile {
    @media(max-width:$mobile){
        @content;
    }
}

@mixin triangle($size,$direction,$color){

    width:0;
    height:0;
    border-style:solid;
    border-color: transparent;
    @if $direction == up{
        border-bottom-width:$size;
        border-bottom-color:$color;
        border-left-width:$size;
        border-left-color:transparent;
        border-right-width:$size;
        border-right-color:transparent;    
    }
    @else if $direction == down{
        border-top-width:$size;
        border-top-color:$color;
        border-left-width:$size;
        border-left-color:transparent;
        border-right-width:$size;
        border-right-color:transparent;    
    }
    @else if $direction == left{
        border-right-width:$size;
        border-right-color:$color;
        border-top-width:$size;
        border-top-color:transparent;
        border-bottom-width:$size;
        border-bottom-color:transparent;    
    }
    @else if $direction == right{
        border-left-width:$size;
        border-left-color:$color;
        border-top-width:$size;
        border-top-color:transparent;
        border-bottom-width:$size;
        border-bottom-color:transparent;    
    }
}