$colors:(
    "primary":#337ab7,
    "secondary":#5cb85c,
    "danger" : #d9534f
);


$image-path:'/images/';

$dark-background: #000000;
$light-background:#FFFFFF;
$light-text:yellow;
$mobile:800px;
