*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid black;
    height:100vh;
}

#grandparent{
    border:40px solid red;
    display: inline-block;
}
#parent{
    border:40px solid blue;
}
#child{
    border:40px solid green;
}
