*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main{
    height: 100%;
}

.row{
    margin: 0;
}

.myCardStyle {
    border: 2px solid gray;
    min-height: 15em;
    min-width: 20em;
    margin: 0.5em;
    word-wrap: break-word;
} 

.show{
    margin-top: 0.5em;
} 

.card >  img {
    height: 25%;
    width: 25%;
    margin: auto;
}

li.list-group-item{
    position: relative;
}

li.list-group-item > div > p {
    display: inline-block;
}

li.list-group-item > div {
    word-wrap: break-word;
}

li.list-group-item > div > button {
    position: absolute;
    top: 5px;
    right: 5px;
}