*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main{
    height: 100%;
}

header{
    margin-bottom: 0.5em;
}

.row{
    margin: 0;
}

.myCardStyle{
    border: 2px solid gray;
    min-height: 15em;
    min-width: 20em;
    margin: 0.5em;
    word-wrap: break-word;
} 

.show{
    margin-top: 0.5em;
} 

.card >  img{
    height: 25%;
    width: 25%;
    margin: auto;
}

li.list-group-item{
    position: relative;
}

li.list-group-item > div > p{
    width: 75%;
}

li.list-group-item > div > button{
    position: absolute;
    top: 30%;
    right: 1%;
}

#root{
        /* The image used */
        background-image: url("./Image/coins_bg.jpg");
      
        /* Set a specific height */
        min-height: 70em;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;   
}

#about > * {
    padding-left: 1em;
    color: azure;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}

#profile > * {
    display: inline-block;
}